{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "false",
          "corejs": "3",
          "targets": {
            "chrome": "58" // 或者你的目标环境
          }
        }
      ],
      "@babel/preset-typescript"
    ],
    "sourceMaps": "both",
    "retainLines": true
  }
  